<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课表查询</title>
    <link href="../static/css/inpus.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="inpus">
    <form action="../static/ce.jsp" target="_self" method="POST" enctype="application/x-www-form-urlencoded">

        <div class="ous">
            学号：<input class="in" type="number"  name="user_son"/> <br/>
            密码：<input class="in" type="password" name="user_pass"  /><br/>
            <input class="butt" type="submit" value="确定">
        </div>
    </form>
</div>
</body>
</html>